@import url('https://fonts.google.com/specimen/Nunito+Sans');

* {
	box-sizing: border-box;
	
}

body { 
	background-color: #33FFE0; 
	

}

:root {
	--background-el: hsla(266, 71%, 61%, 0.623);
	--body: hsl(0, 100%, 100%);
}


header {
	background-color: #33FFE0;
	box-shadow: 0 1px 3px rgba(10, 10, 10, 0.692), 0 1px 2px rgba(0, 0, 0, 0.12);
	text-align:center;

}

img {
    max-width: 80%;
    display:block;
    margin:auto;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 2000px;
	padding: 30px;
	position: relative;
}

h1 {
	display:block;
    margin:auto;
}


.search {
	background-color: var(--background-el);
	border-radius: 4px;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	color: inherit;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	padding: 20px;
	min-width: 300px;
}

.search::placeholder {
	color: inherit;
}


.dropdown {
	border-radius: 4px;
	background-color: var(--background-el);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	font-size: 14px;
	padding: 20px;
	position: relative;
}

.dropdown .fa-chevron-down {
	margin-left: 10px;
}

.dropdown ul {
	border-radius: 4px;
	background-color: var(--background-el);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	display: none;
	padding: 20px;
	position: absolute;
	top: 100%;
	left: 0;
	list-style-type: none;
	width: 100%;
	z-index: 99;
}

.dropdown.open ul {
	display: block;
}

.dropdown ul li {
	margin: 10px 0;
}


.card {
	border-radius: 4px;
	background-color: var(--background-el);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	
	overflow: hidden;
	margin: 10px;
	max-width: 100%;
	width: 300px;
}

.card img {
	object-fit: cover;
	height: 200px;
	width: 100%;
}

.card-body {
	padding: 30px;
}

.card-body h3 {
	margin-top: 0;
}

.container.countries {
	margin-top: -40px;
	justify-content: center;
}
